<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
<!--  
	<servlet>
		<servlet-name>fs</servlet-name>
		<servlet-class>com.jee.web.FirstServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>fs</servlet-name>
		<url-pattern>/controleur</url-pattern>
		<url-pattern>/india</url-pattern>
	</servlet-mapping>
-->
	<servlet>
		<servlet-name>ds</servlet-name>
		<servlet-class>com.jee.web.DocumentServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ds</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

</web-app>