/* Default styles */
#header {
    text-align: center;
}

#header h1 {
    margin-bottom: 10px;
}

#main {
    text-align: left;
}

#main h2 {
    margin-bottom: 20px;
}

#main p {
    margin-bottom: 15px;
}

#footer {
    text-align: center;
    color: white;
}

.icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 5px;
}

/* Media query for iPhones */
@media only screen and (max-width: 768px) {
    #header {
        text-align: left;
    }

    #header h1 {
        margin-bottom: 5px;
    }

    #main h2 {
        margin-bottom: 15px;
    }

    #main p {
        margin-bottom: 10px;
    }

    #footer {
        padding: 5px;
    }

    .icon {
        width: 20px;
        height: 20px;
        margin-right: 3px;
    }
}
