/* Default styles */
#header {
    background-color: #333;
    text-align: center;
    color: white;
    padding: 20px 0;
}

#main {
    max-width: 700px;
    margin: 0 auto; /* Center the element horizontally */
    padding: 0 20px; /* Add padding to the sides */
}

#footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

#footer a:hover {
    text-decoration: underline;
}

.return {
    text-align: center;
    margin-top: 20px;
}

.return a {
    background-color: #007bff;
    text-decoration: none;
    color: white;
}

/* Media query for iPhones */
@media only screen and (max-width: 768px) {
    #main {
        max-width: 90%; /* Adjust maximum width for smaller screens */
        padding: 0 10px; /* Adjust padding for smaller screens */
    }

    .return {
        margin-top: 10px;
    }
}
