#header {
    background-color: #333;
    text-align: center;
    color: white;
    padding: 20px 0;
}

#main{
    max-width: 700px;
    max-height: 750px;
}

#footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

#footer a:hover {
    text-decoration: underline;
}

.return {
    text-align: center;
    margin-top: 20px;
}

.return a {
    background-color: #007bff;
    text-decoration: none;*
    color: white;
}


