<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
 	<display-name>eq2</display-name>
	<servlet>
		<servlet-name>eq2</servlet-name>
		<servlet-class>com.jee.web.Equation_2dg</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>eq2</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

</web-app>
